#osmdCanvas {
    margin-top: 5%;
    margin-bottom: 5%;
}

.input-field [type=text] {
    color: #009688;
    font-weight: bold;
}

#selSheet {
    width: 250px;
}

#choButton {
    width: 150px;
}

.bpmfield {
    width: 45px;
}

.teal-text {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.btn {
    margin-left: 0px;
    margin-right: 0px;
}